@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main > * {
    @apply rounded-md bg-white dark:bg-dark-blue-veryDarkDesaturated;
  }

  input[type="checkbox"] {
    @apply rounded-[100%] border-[1.6px] dark:border-dark-blue-veryDarkGrayish1;
    @apply m-0 h-6 w-6 shrink-0 appearance-none bg-white font-[inherit] text-current dark:bg-dark-blue-veryDarkDesaturated;
  }

  input[type="checkbox"]:checked {
    border: none;
    background-image: url("./assets/icon-check.svg"),
      linear-gradient(theme(colors.primary.from), theme(colors.primary.to));
    background-repeat: no-repeat;
    background-position: center;
  }

  input[type="checkbox"]:not(:checked):hover {
    border: 1.6px solid transparent;
    background: linear-gradient(
        45deg,
        theme(colors.primary.from),
        theme(colors.primary.to)
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  label,
  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  label,
  input[type="text"] {
    @apply text-base md:text-lg;
  }

  input[type="text"] {
    @apply caret-primary-blue;
    @apply dark:placeholder:text-dark-blue-darkGrayish;
    @apply text-light-blue-veryDarkGrayish dark:text-dark-blue-lightGrayish1;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="text"]::selection {
    @apply bg-primary-blue;
  }
}

@layer components {
  .root {
    @apply flex min-h-screen flex-col items-center justify-center py-[5%] font-josefinSans;
    /* @apply bg-white bg-mobile-light bg-contain bg-no-repeat lg:dark:bg-desktop-dark; */
    @apply bg-mobile-light bg-contain bg-no-repeat dark:bg-mobile-dark lg:bg-desktop-light dark:lg:bg-desktop-dark;
    @apply bg-white dark:bg-dark-blue-veryDark;
  }

  .task-label {
    @apply text-light-blue-veryDarkGrayish dark:text-dark-blue-lightGrayish1;
  }

  .task-label.completed {
    @apply text-light-blue-lightGrayish line-through dark:text-dark-blue-veryDarkGrayish1;
  }

  .filter-button {
    @apply font-bold hover:text-light-blue-veryDarkGrayish hover:dark:text-dark-blue-lightGrayish1;
  }

  .filter-button.active {
    @apply text-primary-blue hover:text-primary-blue;
  }
}
